.u-success {
  color: green;
}

.u-failed {
  color: red;
}

.top-navigation ul {
  list-style-type: none;
  line-height: 70px;
  margin: 0px;
}

.top-navigation li {
  float: left;
  margin: 0 1rem;
}

/* Styling for the cards. */

.cards { list-style-type: none }
.card { text-align: center }
